@{
    ViewData["Title"] = "Home Page";
}

@model Pedido
<div class="container-fluid">
    <div class="jumbotron text-center">
        <h1>Sapataria</h1>
        <p>Aqui tera alguma mensagem para o usuário</p>
    </div>

    <div class="col-lg-8">
        <!--Well de cadastro de pedido-->
        <div class="panel panel-default">
            <div class="well well-sm" id="linkCadastrar" data-toggle="collapse" data-target="#divCadastrar">
                <a href="#" data-toggle="modal" data-target="#CadastarModal">Cadastrar Pedidos</a>
            </div>

            <div id="divCadastrar" class="container-fluid collapse divCaixa">
                <form id="formCadastrarPedido" asp-controller="pedido" asp-action="cadastrar">
                    <div class="form-group">
                        <label for="titulo">Titulo</label>
                        <input type="text" class="form-control" id="titulo" asp-for="@Model.Titulo" />
                    </div>
                    <div class="form-group">
                        <label for="cliente">Cliente</label>
                        <input type="text" class="form-control" id="cliente" asp-for="@Model.Cliente.Nome" />
                    </div>
                    <div class="form-group">
                        <label for="data">D.Entrega</label>
                        <input type="date" class="form-control" id="data" asp-for="@Model.D_Entrega" />
                    </div>
                    <div class="form-group">
                        <label for="descricao">Descrição</label>
                        <textarea class="form-control" rows="7" id="descricao" asp-for="@Model.Descricao"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success" id="btnCadastrar">Cadatrar</button>
                </form>
            </div>
        </div>

        <!--Well de consulta de todos os pedidos-->
        <div class="panel panel-default">
            <div class="well well-sm" id="linkConsultar" data-toggle="collapse" data-target="#divConsulta">
                <a href="#" data-toggle="modal" data-target="#ConsultaModal">Consultar`Pedidos</a>
            </div>
            <div id="divConsulta" class="container-fluid collapse divCaixa">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Titulo</td>
                            <td>Cliente</td>
                            <td>D_Entrada</td>
                            <td>D.Retirada</td>
                        </tr>
                    </thead>
                    <tbody id="tabela">
                        <!--aqui a tabela deve ser carregada-->
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!--Painel onde os pedidos mais proximos estaçao sendo apresentados-->
    <div class="col-lg-4">
        <div class="panel panel-default" id="bloco-principal">
            <div class="panel-heading">Pedidos que devem ser entregues hoje</div>

            <!--pedidos devem ser carregados aqui-->
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/model/Cliente.js"></script>

    <script src="~/js/Data.js"></script>
    <script src="~/js/Util.js"></script>
    <script src="~/js/tabela.js"></script>
    <script src="~/js/PedidosOrdem.js"></script>
    <script src="~/js/formIndex.js"></script>


}

